/***************Global Styling*******************/
@font-face{ 
    font-family: MGS; 
    src:url('../fonts/metag.ttf')}

header {
    background-color: #ff4747;
    text-align: center;
    padding: 1px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#headerTitle{
    font-family:MGS;
    font-size:250%;
}

html{
    min-height: 100%;
    position: relative;
}
body{
    background-color: #ffffff;
}

.navLinks{
    font-family:MGS;
    background-color: #ffffff;
    padding:15px 25px;
    color:black;
    text-decoration: none;
}

a:link, a:visited{
    color:black;
}

footer{
    position:fixed;
    bottom:0;
    width:100%;
    text-align: center;
    left:10;
}

.bodyH1{
    text-align:center;
    font-family:Bahnschrift;
}

h2{
    font-family:consolas;
    font-size:175%;
}

.bodyParagraph{
    margin-top: -10px;
    font-size: large;
    font-family:Bahnschrift;
}

.flex-container{
    display:flex;
    flex-direction:column

}

/***************index.html Styling*******************/
#quizContainer{
    visibility:hidden;
}

/***************projects.html Styling*******************/
#arcvaleColumn{
    margin-left:25%;
}

#row1{
    display:flex;
}

#row2{
    display:flex;
    flex-direction:column;
}


/***************aboutme.html Styling*******************/
#randomGoalsContainer{
    margin-top:20%;
}

#interestColumn{
    max-width:100%;
}

